* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d202b;
  background-image: url("https://raw.githubusercontent.com/delmonicoCL/LaiaBCN/main/assets/images/fondo.png");
  /*background-image: url('/assets/images/fondo.png');*/

  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "Rammetto One", sans-serif;
}


img{
border-radius: 25px;

}

.corazon {
  width: 45px;
}

.col {
 
  border-radius: 15px;
}

.ZonaPalabraBuscada {
  
  height: 10vh;
 
    border-radius: 50px;
}

.ZonaTeclado {
  
  height: 15vh;
}

.ZonaInfo {
  
  border-radius: 50px;
  height: 20vh;
  color:#345574;
  text-align: center;
}

.ZonaImagen {
  height: 15vh;
 
  
}

.Imagen {

  height: 550px;

}

.BarraHeader {
        width: 100%;
        height: 100px;
        background-color: #98f3c9;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        gap: 10px;
        border-radius: 15px;
      }


.BarraFooter {
        width: 100%;
        height: 110px;
        background-color: #fc8d72;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        gap: 10px;
        border-radius: 15px;
      }

.palabra-buscada {
  cursor: pointer;
  user-select: none;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 35px;
  background-color: #746834;

}

/* Estilo para las teclas del teclado */
.tecla-teclado {
        cursor: pointer;
        user-select: none;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        font-size: 25px;
        background-color:#345574;
        
      }


            .tecla-teclado1 {
              cursor: pointer;
              user-select: none;
              width: 90px;
              height: 70px;
              border-radius: 15px;
              font-size: 35px;
              background-color: #3bc691;
      
            }
/* Estilo para teclas seleccionadas */
.teclaseleccionada {
        background-color: #fdc477;
        color:#fff;
      }

#videoPresentacion {
  border-radius: 15px;
  width: 1150px;
  height: 690px;

}
